<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Flask-Angular App</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/styles.ef46db3751d8e999.css"></head>

</head>
<body>
    <app-root></app-root>
    <script src="static/runtime.fe3a75fab6275a44.js" type="module"></script>
    <script src="static/polyfills.cf6c01d68c90ec89.js" type="module"></script>
    <script src="static/main.d101a1a1e2578aed.js" type="module"></script>
</body>
</html>
